.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $s-size 0;
}

.nav__back {
  padding-left: 15px;
}

.nav__help {
  position: relative;

  padding-right: 13px;
  font-size: 1.2rem;
  font-weight: 300;

  color: $white;
}

.nav__help::after {
  position: absolute;
  content: '';

  right: 0;

  width: 5px;
  height: 20px;

  background-color: $white;
}
