.form div > label {
  font-size: $font-size-xsmall;

  color: $white;

  text-transform: capitalize;
}

.form div > input {
  max-width: inherit;
  padding-bottom: 5px;

  font-weight: 100;
  color: $white;

  background: none;
}

.form--input  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 67px;


  visibility: visible;
  opacity: 1;
}

.form--input label {
  order: 1;
  opacity: .5;
}

.form--input input {
  opacity: .5;

  border: none;
  border-bottom: 1px solid $white;

  order: 2;
}

.form--input input:focus {
  opacity: 1;
}

.form--input input:focus + label {
  opacity: 1;
}

.form--blur {
  opacity: .8;
  transform: scale(.8);

  transition: transform 1s ease;
}

.form--hidden {
  display: none;
}

.form__wrapper {
  //height: 500px;
  //overflow-y: scroll;
}

.form__wrapper::-webkit-scrollbar {
  display: none;
}

.form__name input {
  font-size: 36px;
}

.form__surname input {
  font-size: 30px;
}

.form__date input,
.form__phone input,
.form__email input,
.form__password input {
  font-size:24px;
}

.form__date input,
.form__phone input,
.form__surname input,
.form__name input {
  text-transform: uppercase;
}

.form__password {
  margin-bottom: 35px;
}

input[type="password"] {
  font:small-caption;
  font-size:30px
}

.form__info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 73px;

  font-size: $font-size-small;
  font-weight: 300;

  color: $white;

  border: none;
}

.form__info a {
  text-decoration: underline;
}

.form__info div input {
  width: 10px;
}

// Custom Checkbox
.form__info input {
  display: none;
}

.form__info div:first-child {
  margin-right: 10px;
}

.form__info label {
  position: relative;
  display: block;

  width: 20px;
  height: 20px;

  border: 1px solid $white;
  border-radius: 3px;
  background: transparent;

  cursor: pointer;

  &:after {
    display: none;
    position: absolute;
    content: '';

    width: 12px;
    height: 12px;

    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: $white;
  }
}

.form__info input:checked + label:after {
  display: block;
}
// finish

.form__submit {
  text-align: center;
  border: none;
}

.form__submit button {
  position: relative;
  font-weight: 200;
  font-size: 22px;

  color: $white;
  border: none;
  background: none;

  text-decoration: none;

  text-transform: uppercase;

  // Button Arrow
  &:after {
    position: absolute;
    content: '';

    right: -17px;
    top: 6px;

    width: 1px;
    height: 10px;

    background: $white;
    transform: rotate(-45deg);
  }

  &:before {
    position: absolute;
    content: '';

    right: -17px;
    top: 13px;

    width: 1px;
    height: 10px;

    background: $white;
    transform: rotate(45deg);
  }
}

.form__toast .Toastify__toast {
  background: $blue-dark;
}

.form__toast-body {
  font-family: Roboto, Arial sans-serif;
  color: $white;
}

