.date-picker {
  position: relative;
}

.date-picker__months {
  display: flex;
  justify-content: space-between;
  align-content: center;

  min-height: 45px;
  padding: 0 16px;

  background-color: $blue-dark;
}

.date-picker__btn {
  display: flex;
}

@keyframes calendar {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.months {
  display: flex;
  align-items: center;
}

.months__month input {
  display: none;
}

.months--test {
  animation-name: calendar;
}

.months__month label {
  color: $white;
  opacity: 0.5;
  text-transform: uppercase;
}

.months__month input:checked + label {
  opacity: 1;
  transition: opacity 1s ease;
  border-bottom: 3px solid $blue-light;
  padding-bottom: 2px;
}

.months__month {
  width: 100%;
  height: 26px;
  margin-right: 24px;
  padding-bottom: 5px;
}

.months__month:last-child {
  margin-right: 0;
}

.date-picker__months div:first-child {
  color: $white;
  text-transform: uppercase;
}

.date-picker__days {
  display: flex;
  justify-content: space-between;
  align-content: center;

  height: 78px;
  margin-top: 8px;
  padding: 0 16px;
}

.date-picker__periods {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 20px;
}


