.period-selector {
  padding-bottom: 16px;
}

.period-selector input {
  display: none;
}

.period-selector label div {
  padding: 8px 16px;
  font-size: $font-size-large;
  font-weight: 300;
  text-transform: capitalize;

  color: $white;
  transform: scale(1);
  transition: transform .3s ease-in;
}

.period-selector label div:hover {
  transform: scale(1.1);

  transition: transform .3s ease-in;
}

.period-selector input:checked + label div {
  padding: 7px 15px;

  border: 1px solid $white;

  border-radius: 25px;
}
