.time {
  padding: 7px 17px;
  margin-right: 10px;

  font-weight: 300;
  font-size: $font-size-large;
  color: $grey;
  line-height: 1;

  background-color: $ligth;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}

.time:hover {
  box-shadow:  0 4px 4px 0 rgba(65,69,73,0.3), 0 4px 12px 4px rgba(65,69,73,0.15);
  transition: box-shadow 0.3s ease;
}

.time--no {
  padding: 8px 17px;

  font-size: $font-size-medium;
}
