* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-size: $font-size-medium;
  line-height: 1.6;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button:focus,
div:focus,
input :focus {
  outline: none!important;
}

:focus {
  outline: none!important;
}

.pointer {
  cursor: pointer;
}
