// Colors
$white: #fff;
$ligth: #F7F7F7;
$blue: #2A95BF;
$blue-light: #3CB9C0;
$blue-dark: #177D91;
$grey: #818181;
$grey-light: #AFAFAF;
$dark: #585656;

// Font
$font-stack: Roboto, Arial, sans-serif;
$font-size-xxlarge: 2.4rem;
$font-size-xlarge: 2.2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
